img {
  height: 500px;
  width: 500px;
}

html {
  background-color: orange;
  text-align: center;
}

.name {
  margin-left: 50px;
}

/* .social_wrapper {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 450px);
  margin: 0 auto;
} */