html {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-image: url("./assets/images/cheetah_background_effect2.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  border-top: 2px solid black;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  background-color: black;
}

.add-post {
  height: 400px;
  width: 250px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: rgba(216, 127, 228, 0.5);
  border: dashed white 2px;
  font-size: 20px;
  color: white;
  grid-template-columns: repeat(auto-fill, 200px);
}

.add-button {
  background-color: rgba(216, 127, 228, 0);
  margin-top: 50%;
  border: none;
  font-size: 20px;
}

.add-button:hover {
  font-size: 30px;
}

.logo {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  margin-top: 5px;
}

.post-link {
  margin-left: 37%;
  margin-bottom: 10%;
  width: 100px;
  border-radius: 10px;
  background-color: rgba(216, 127, 228, 0.5);
  border: solid black 1px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.post-link:hover {
  transform: scale(1.5);
  transition: transform 2s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

button:focus {
  outline-width: 0;
}

.single-img {
  width: 500px;
  border-radius: 5px;
  border: solid black 2px;
}

.gallery-img {
  border-radius: 5px;
}

.name {
  color: white;
  text-shadow: 2px 2px 10px #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

input {
  background-color: rgba(216, 127, 228, 0.5);
  border: solid black 1px;
  border-radius: 5px;
  color: black;
}

caption {
  margin-left: 50%;
  margin-right: 50%;
}

input:focus {
  outline-width: 0;
}

.input {
  color: black;
}

.login-form {
  margin-top: 7px;
  width: 300px;
  height: 25px;
  font-size: 20px;
  color: white;
}

.login-form::placeholder {
    color: white;
    opacity: 0.5
}

.login-screen {
    color: white;
}

.not-logged {
    color: white;
}

.comment:-webkit-autofill,
.comment:-webkit-autofill:hover,
.comment:-webkit-autofill:focus,
.login-form:-webkit-autofill,
.login-form:-webkit-autofill:hover,
.login-form:-webkit-autofill:focus,
.reg-form:-webkit-autofill,
.reg-form:-webkit-autofill:hover,
.reg-form:-webkit-autofill:focus,
.edit-input:-webkit-autofill,
.edit-input:-webkit-autofill:hover,
.edit-input:-webkit-autofill:focus,
.add:-webkit-autofill,
.add:-webkit-autofill:hover,
.add:-webkit-autofill:focus {
  background-color: rgba(216, 127, 228, 0.5);
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px rgba(216, 127, 228, 0.5) inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 10px;
}

.login-submit {
  padding: 5px;
  margin-top: 5px;
}

.login-submit:hover {
  background: black;
  color: rgba(216, 127, 228, 0.5);
}

.header {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 10px;
  color: white;
  margin: 0 auto;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #000000;
}

.header span {
  display: inline-block;
  position: relative;
}

.header span:before,
.header span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.header span:before {
  right: 100%;
  margin-right: 15px;
}
.header span:after {
  left: 100%;
  margin-left: 15px;
}

.back-nav {
  font-size: 14px;
  margin-top: 20px;
  margin-right: 93%;
  width: 190px;
  border-radius: 10px;
  background-color: rgba(216, 127, 228, 0.5);
  border: solid black 1px;
  padding: 7px;
  padding-left: 33px;
  padding-right: 33px;
  margin-bottom: 140px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.back-nav:hover {
  background: black;
  color: rgba(216, 127, 228, 0.5);
}

.login-button {
  width: 100px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(216, 127, 228, 0.5);
  border: solid black 1px;
  padding: 7px;
  margin-bottom: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.login-button:hover {
  background: black;
  color: rgba(216, 127, 228, 0.5);
}

.logout {
  margin-right: 95%;
  font-size: 18px;
  margin-top: 7px;
  height: 32px;
  font-size: 13px;
  width: 100px;
  border-radius: 10px;
  background-color: rgba(216, 127, 228, 0.5);
  border: solid black 1px;
  color: black;
  padding: 7px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logout:hover {
  background: black;
  color: rgba(216, 127, 228, 0.5);
}

.like {
  font-size: 12px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: transform 0.5s, filter 0.1s ease-in-out;
  filter: grayscale(100%);
}

.like:hover {
    filter: grayscale(0);
}

.edit {
  font-size: 12px;
  width: 100px;
  border-radius: 10px;
  background-color: rgba(216, 127, 228, 0.5);
  border: solid black 1px;
  padding: 7px;
  margin-bottom: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.edit:hover {
  background: black;
  color: rgba(216, 127, 228, 0.5);
}

.delete {
  font-size: 12px;
  width: 100px;
  border-radius: 10px;
  background-color: rgba(216, 127, 228, 0.5);
  border: solid black 1px;
  padding: 7px;
  margin-bottom: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.delete:hover {
  background: black;
  color: rgba(216, 127, 228, 0.5);
}

.send-comment {
  margin-right: 2px;
  font-size: 12px;
  width: 100px;
  border-radius: 10px;
  background-color: rgba(216, 127, 228, 0.5);
  border: solid black 1px;
  padding: 7px;
  margin-bottom: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.send-comment:hover {
  background: black;
  color: rgba(216, 127, 228, 0.5);
}

.comment {
  margin-bottom: 10px;
  width: 500px;
  height: 25px;
}

.gallery-space {
  margin-top: 40px;
}

.nav-menu {
  display: flex;
  align-items: baseline;
}

.edit-input {
  margin-left: 10px;
}

.register {
    color: orange
}

.register:hover {
  text-decoration: underline;
}

.delete {
  margin-right: 5px;
}

.edit {
  margin-left: 5px;
}

.submit-edit {
  margin-left: 5px;
}

.submit-edit:hover {
  background-color: black;
  color: rgba(216, 127, 228, 0.5);
}

.reg-form {
  margin-top: 7px;
  width: 300px;
  height: 25px;
  font-size: 20px;
  color: white;
}

.register-screen {
    color: white;
}
  
  .reg-form::placeholder {
      color: white;
      opacity: 0.5;
  }

.reg-submit {
  padding: 5px;
  margin-top: 5px;
}

.reg-submit:hover {
  background: black;
  color: rgba(216, 127, 228, 0.5);
}

.footer {
  margin-top: 20px;
  color: white;
}

.home-nav {
  width: 100px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(216, 127, 228, 0.5);
  border: solid black 1px;
  padding: 7px;
  margin-bottom: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.home-nav:hover {
  background: black;
  color: rgba(216, 127, 228, 0.5);
}

.gallery-header {
  padding-top: 20px;
}

.post-card {
  width: 600px;
  margin: 0 auto;

  border: 1px solid black;
  border-radius: 1rem;
  /* margin: 1rem; */
  background-color: rgb(245, 255, 255, 0.3);
  filter: drop-shadow(0 0 0.95rem rgba(94, 94, 94, 0.781));
}

.add {
  margin-right: 10px;
}

.create:hover {
  background-color: black;
  color: rgba(216, 127, 228, 0.5);
}

@media only screen and (max-width: 360px) {
  .add-post {
    margin-left: 50px;
  }
  .gallery {
    margin-left: 10%;
  }
  .footer {
    margin-left: 30%;
  }
  .nav-menu {
    margin: 0;
    margin-right: 20%;
  }
  .header {
    font-size: 30px;
    margin-left: 13%;
  }
  .header-section {
    margin-top: 20px;
  }
  footer {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .add-post {
    margin-right: 78px;
  }
}

@media only screen and (max-width: 320px) {
  .header {
    margin-left: 30%;
  }
  .nav-menu {
    margin-left: 40%;
  }

  .post-card {
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    margin: 0;
    margin-left: 27%;
  }

  .post-card {
    width: 500px;
    margin-top: 3rem;
  }

  .single-img {
    width: 360px;
  }

  .comment {
    width: 360px;
  }
}
