.add-post {
    height: 400px;
    width: 250px;
    margin: 20px auto;
    border-radius:5px;
    /* opacity: 0.3; */
    background-color: orange;
    border: dashed white 2px;
    /* margin-left: 20px%; */
    font-size: 20px;
    color: white;
    grid-template-columns: repeat(auto-fill, 200px);
}


.add-button {
    background-color: orange;
    margin-top: 50%;
    border: none;
    font-size: 20px;
}

.add-button:hover {
    font-size: 30px;
}

.logo {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin-top: 5px;
}

.post-link {
    margin-left: 37%;
    margin-bottom: 10%;
    width: 100px;
    border-radius: 10px;
    background-color: orange;
    border: solid black 1px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.post-link:hover{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

button:focus{
    outline-width: 0;
}

.single-img {
    height: 500px;
    width: 500px;
    border-radius: 5px;
    border: solid black 2px;
}

.gallery-img {
    border-radius: 5px;
}

input {
    background-color: orange;
    border: solid black 1px;
    border-radius: 5px;
}

caption {
    /* margin: 0 auto; */
    margin-left: 50%;
    margin-right: 50%;
}

input:focus{
    outline-width: 0;
}

.input {
    color: black;
}

.login-form {
    margin-top: 7px;
    width: 300px;
    height: 25px;
    font-size: 20px;
}

#placeholder {
    color: black;
}

.comment:-webkit-autofill,
.comment:-webkit-autofill:hover,
.comment:-webkit-autofill:focus,
.login-form:-webkit-autofill,
.login-form:-webkit-autofill:hover, 
.login-form:-webkit-autofill:focus,
.reg-form:-webkit-autofill,
.reg-form:-webkit-autofill:hover,
.reg-form:-webkit-autofill:focus,
.edit-input:-webkit-autofill,
.edit-input:-webkit-autofill:hover,
.edit-input:-webkit-autofill:focus,
.add:-webkit-autofill,
.add:-webkit-autofill:hover,
.add:-webkit-autofill:focus {
  background-color: orange;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px orange inset; 
  transition: background-color 5000s ease-in-out 0s;
}

.login-submit{
    padding: 5px;
    margin-top: 5px;
}

.login-submit:hover {
    background: black;
    color: orange;
}

.header {
    margin-top: 60px;
    font-size: 35px;
    margin-top: 7px;
    color: black;
}

.back-nav {
     font-size: 14px;
     margin-top: 20px;
    margin-right: 93%;
    width: 190px;
    border-radius: 10px;
    background-color: orange;
    border: solid black 1px;
    padding: 7px;
    padding-left: 33px;
    padding-right: 33px;
    margin-bottom: 140px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.back-nav:hover {
    background: black;
    color: orange;
}

.login-button {
    width: 100px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: orange;
    border: solid black 1px;
    padding: 7px;
    margin-bottom: 7px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.login-button:hover {
    background: black;
    color: orange;
}

.logout {
    margin-right: 95%;
    font-size: 18px;
    margin-top: 7px;
    height: 32px;
    font-size: 13px;
    width: 100px;
    border-radius: 10px;
    background-color: orange;
    border: solid black 1px;
    color: black;
    padding: 7px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.logout:hover {
    background: black;
    color: orange;
}

.like {
    font-size: 12px;
    width: 100px;
    border-radius: 10px;
    background-color: orange;
    border: solid black 1px;
    padding: 7px;
    margin-bottom: 7px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.like:hover{
    background: black;
    color: orange;
}

.edit {
    font-size: 12px;
    width: 100px;
    border-radius: 10px;
    background-color: orange;
    border: solid black 1px;
    padding: 7px;
    margin-bottom: 7px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.edit:hover{
    background: black;
    color: orange;
}

.delete {
    font-size: 12px;
    width: 100px;
    border-radius: 10px;
    background-color: orange;
    border: solid black 1px;
    padding: 7px;
    margin-bottom: 7px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.delete:hover {
    background: black;
    color: orange;
}

.send-comment {
    margin-left: 3px;
    font-size: 12px;
    width: 100px;
    border-radius: 10px;
    background-color: orange;
    border: solid black 1px;
    padding: 7px;
    margin-bottom: 7px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.send-comment:hover{
    background: black;
    color: orange;
}

.comment {
    margin-bottom: 10px;
    width: 500px;
    height: 25px;
}

.gallery-space {
    margin-top: 40px;
}

.nav-menu {
    display: flex;
    align-items: baseline;
}

/* .header-section {
    display: flex;
    flex-direction: row-reverse;
} */

.register:hover {
    text-decoration: underline;
}

.reg-form {
    margin-top: 7px;
    width: 300px;
    height: 25px;
    font-size: 20px;
}

.reg-submit {
    padding: 5px;
    margin-top: 5px;
}

.reg-submit:hover{
    background: black;
    color: orange;
}

.footer {
    margin-top: 20px;
}

.home-nav {
    width: 100px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: orange;
    border: solid black 1px;
    padding: 7px;
    margin-bottom: 7px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.home-nav:hover{
    background: black;
    color: orange;
}

.gallery-header {
    padding-top: 20px;
}

@media only screen and (max-width: 360px) {
    .add-post {
        margin-left: 50px;
    }
    .gallery {
        margin-left: 10%;
    }
    .footer {
        margin-left: 30%;
    }
    .nav-menu {
        margin: 0;
        margin-right: 20%;
    }
    .header {
        font-size: 30px;
        margin-left: 13%;
    }
    .back-nav  {
        margin: 0;
    }
    /* .logout {
        margin-bottom: 20px;
    } */
    .header-section {
        margin-top: 20px;
    }
    footer {
        margin-right: 50px;
    }

}

@media only screen and (max-width: 500px) {
    .add-post {
        margin-right: 78px;
    }
    .back-nav {
        margin: 0;
    }
}

@media only screen and (max-width: 412px) {
    .logout {
        margin-right: 25%;
    }
    .back-nav {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 320px) {
    .header {
        margin-left: 30%;
    }
    .nav-menu {
        margin-left: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        margin: 0;
        margin-left: 27%;
    }
}