html {
    background-color: orange;
    text-align: center;
  }

.social_wrapper {
    display: grid;
    overflow: scroll;
}

.name {
    margin-left: 50px;
  }

//   .plus-button{
//       border: solid white 2px;
//       border-radius: 40px;
//       padding: 20px;
//       margin-top: 70px;
//   }


  .add-button:focus{
      outline: none;
  }

.social_card {
    max-width: 250px;
    min-width: 250px;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    margin: 30px 50px;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, 200px);
    text-align: center;

    img{
        height: 200px;
        width: 200px;
        text-align: center;
        margin-left: 27px;
        transition: transform 1s ease-in-out;

        &:hover {
            transform: scale(1.5);
            transition: transform 2s ease-in-out;

        }
    }

    &_body {
        padding: 10px 20px;

        > div {
            display: flex;
            justify-content: space-between;

            p {
                font-weight: bold;

                span {
                    display: block;
                    padding: 5px;
                    font-weight: 300;
                    font-size: 0.8rem;
                    color: $secondary;
                }
            }

            img {
                max-width: 50px;
                border-radius: 100%;
            }
        }

        .social_interactions {
            display: flex;
            justify-content: space-between;

            p {
                display: flex;
                cursor: pointer;

                img {
                    width: 20px;
                    padding: 5px;
                    opacity: 0.3;
                }
            }
        }
    }
}
